@using Model.Domain
@model List<Categorias>
<script>
    function enviar(laUrl, elId){
        var elform = document.getElementById("MiForm");
        var eldato = document.getElementById("id");
        eldato.value = elId;
        elform.action = laUrl;
        elform.submit();
    }
</script>

<form action="" id="MiForm" name="MiForm" method="post">
    <input type="hidden" id="id" name="id" value="" />
    <section class="content">
        <div class="row">
            @foreach (var m in Model)
            {
                Random numero = new Random();
                int resultado = numero.Next(1, 200);
                var respuesta = "";
                if (resultado >= 151)
                {
                    respuesta = "small-box bg-info";
                }
                else if (resultado >= 101)
                {
                    respuesta = "small-box bug-success";
                }
                else if (resultado >= 51)
                {
                    respuesta = "small-box bg-danger";
                }
                else
                {
                    respuesta = "small-box bg-danger";
                }
                string respuestas = respuesta.ToString();
                
                <div class="col-lg-3 col-6">
                    <div class="@respuestas">
                        
                        <div class="inner">
                            <h3># Tareas</h3>
                            <p>
                                @m.idcategoria
                                @m.nombrecategoria
                            </p>
                        </div>

                        <div class="icon">
                            <i class="ion ion-android-person"></i>
                        </div>
                        <a href="javascript:enviar('/Categorias/Individual','@m.idcategoria')" data-id="@m.nombrecategoria" class="small-box-footer">
                            Mas informacion
                            <i class="fas fas-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>
</form>